<div class="modify">
    <div class="card list">
        <div class="card-header card-inverse card-success header">Cache Control</div>
        <div class="card-block">
            <div class="form-group">
                <label for="nombre-txt" class="tipos">
                    Eliminar el cache global
                </label>
                <button (click)="cleanCache()">Eliminar Cache Global</button><br>
                <small>El comando elimina el cache global de la aplicación, por lo que todos los datos son reseteados en los nodos.</small>
            </div>
        </div>
    </div>
</div>