<div class="cluster" *ngIf="view=='panel'">
        <div class="card list">
            <div class="card-header card-inverse card-success header">
                <div class="title">Cluster Configuration</div>
                <div class="create">
                    <button class="btn btn-primary" (click)="create()"><i class="fa fa-user"></i> Create</button>
                </div>
            </div>
            <div class="card-block nopadding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Node</th>
                            <th>Ip</th>
                            <th>Last Communication</th>
                            <th>Status</th> 
                            <th>Actions</th>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cluster of clusters_db; let i = index">
                            <td>
                                {{ i+1 }}      
                            </td>
                            <td class="types">
                                <div class="type normal">{{ cluster.ip }}</div>
                            </td>
                            <td >
                                {{ (cluster.last) ? cluster.last : "No Interaction" }}
                            </td>
                            <td class="types">
                                {{ (cluster.status) ? cluster.status : "No Information"  }}
                            </td>
                            <td>
                                <button class="btn btn-warning" (click)="edit(cluster)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger" (click)="trash(cluster)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="clusters_db && clusters_db.length === 0">
                            <td colspan="5">No cluster node registered</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="edit" *ngIf="clusterbox == 'edit'">
        <div class="head">
            <span class="title">Edit Node</span>
            <span class="close"><i class="fa fa-times" (click)="clusterbox=false"></i></span>
        </div>
        <div class="body">
            <div class="form-group" >
                <label>Cluster Ip: </label>
                <input type="text" placeholder="Cluster Ip" name="ip" #ip [value]="cluster_view.Name"/>
                <small>This input define the ip of cluster node.</small>
            </div>
        </div>
        <div class="footer">
            <div class="buttons">
                <button class="btn btn-success" (click)="editcluster(ip.value)">Edit</button>
                <button class="btn btn-primary" (click)="clusterbox=false">Close</button>
            </div>
        </div>
    </div>
    <div class="edit" *ngIf="clusterbox === 'create'">
        <div class="head">
            <span class="title">Create Cluster Node</span>
            <span class="close"><i class="fa fa-times" (click)="clusterbox=false"></i></span>
        </div>
        <div class="body">
            <div class="form-group" >
                <label>Cluster Ip: </label>
                <input type="text" placeholder="Cluster Ip" name="ip" #ip autocomplete="off"/>
                <small>This input define the ip of cluster node.</small>
            </div>
        </div>
        <div class="footer">
            <div class="buttons">
                <button class="btn btn-success" (click)="newcluster(ip.value)">Create</button>
                <button class="btn btn-primary" (click)="clusterbox=false">Close</button>
            </div>
        </div>
    </div>