<div class="sidebar" *ngIf="!hidden">
	<div class="item" [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Dashboard</span></div>
	<div class="item" [routerLink]="['/logs']" [routerLinkActive]="['router-link-active']"><i class="fa fa-bookmark" aria-hidden="true"></i><span>Logs</span></div>
	<div class="item" [routerLink]="['/properties']" [routerLinkActive]="['router-link-active']"><i class="fa fa-sticky-note-o" aria-hidden="true"></i><span>Properties</span></div>
	<div class="item" [routerLink]="['/routes']" [routerLinkActive]="['router-link-active']"><i class="fa fa-share-alt" aria-hidden="true"></i><span>Routes</span></div>
	<div class="item" [routerLink]="['/controllers']" [routerLinkActive]="['router-link-active']"><i class="fa fa-cogs" aria-hidden="true"></i><span>Controllers</span></div>
	<div class="item" [routerLink]="['/models']" [routerLinkActive]="['router-link-active']"><i class="fa fa-database" aria-hidden="true"></i><span>Models</span></div>
	<!-- <div class="item" [routerLink]="['/cronjobs']" [routerLinkActive]="['router-link-active']"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Cron Jobs</span></div> -->
	<div class="item" [routerLink]="['/cluster']" [routerLinkActive]="['router-link-active']"><i class="fa fa-cubes" aria-hidden="true"></i><span>Cluster</span></div>
	<div class="item" [routerLink]="['/users']" [routerLinkActive]="['router-link-active']"><i class="fa fa-user" aria-hidden="true"></i><span>Users</span></div>
	<div class="item" [routerLink]="['/configs']" [routerLinkActive]="['router-link-active']"><i class="fa fa-cog" aria-hidden="true"></i><span>Configs</span></div>
</div>
<div class="sidebarmini" *ngIf="hidden">
	<div class="item" [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i></div>
	<div class="item" [routerLink]="['/logs']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Logs"><i class="fa fa-bookmark" aria-hidden="true"></i></div>
	<div class="item" [routerLink]="['/properties']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Properties"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></div>
	<div class="item" [routerLink]="['/routes']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Rutas"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
	<div class="item" [routerLink]="['/controllers']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Controladores"><i class="fa fa-cogs" aria-hidden="true"></i></div>
	<div class="item" [routerLink]="['/models']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Modelos"><i class="fa fa-database" aria-hidden="true"></i></div>
	<!-- <div class="item" [routerLink]="['/cronjobs']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Cronjobs"><i class="fa fa-clock-o" aria-hidden="true"></i></div> -->
	<div class="item" [routerLink]="['/cluster']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Cluster"><i class="fa fa-cubes" aria-hidden="true"></i></div>
	<div class="item" [routerLink]="['/configs']" [routerLinkActive]="['router-link-active']" placement="right" ngbTooltip="Configuraciones"><i class="fa fa-cog" aria-hidden="true"></i></div>
</div>