:host{
	width:100%;
	background:white;
}
.properties{
	display: flex;
	flex-direction:column;
	width:100%;
	height:100%;
	padding:10px;
	.header{
		color:#FFF;
	}
	.list{
		width: 100%;
		.title{

		}
		.status{
			color: #FFF;
			.label{
				height:25px;
				width:100px;
				align-items:center;
				justify-content:center;
				display:flex;
				border-radius:10px;
			}
			.restart{
				background: #FFCE01;
			}
			.running{
				background: #00A103;
			}
			.stock{
				background: #7900C7;
			}
		}
		.actions{
			display:flex;
			flex-direction:row;
			.item{
				display:flex;
				margin-right:10px;
				align-items:center;
				font-size: 1.3rem;
				cursor: pointer;
				&:hover{
					color:red;
				}
			}
			.prop{
				display:flex;
				margin-right:10px;
				align-items:center;
				font-size: 1.2rem;
				cursor: pointer;
				&:hover{
					color:red;
				}
			}
		}
	}
	.add{
		padding:15px 0px;
		.btn-panel{
			height:40px;

		}
	}
}
.create{
	display: flex;
	flex-direction:column;
	width:100%;
	height:100%;
	padding:10px;
	.header{
		color: #FFF;
	}
	.add{
		padding:15px 0px;
		.btn{
			height:40px;

		}
	}
}
.modify{
	display: flex;
	flex-direction:column;
	width:100%;
	height:100%;
	padding:10px;
	.header{
		color: #FFF;
	}
	.list{
		.tipos{
			display:flex;
			flex-direction:row;
			.label{
				display:flex;
				height:25px;
				width:70px;
				color:#FFF;
				justify-content:center;
				border-radius:5px;
				margin-right:10px;
			}
			.single{
				background:#62BDD7;
			}
			.option{
				background:#6CA725;
			}
			.set{
				background:#2E09AE;
			}
			.array{
				background: #CA003E;
			}
			.title{
				display:flex;
				align-items:center;
			}
			.addset{
				margin-left:10px;
				button{
					height: 25px;
    				padding: 3px 10px;
				}
			}
		}
		.sets{
			.set_item{
				.set_header{
					width:30%;
					border:1px #CCC solid;
					padding:5px;
					display:flex;
					flex-direction:row;
					background:#EEE;
					.title{
						display:flex;
						flex:1;
						align-items:center;
					}
					.status{
						display:flex;
						flex:1;
						.label{
							height:25px;
							width:100px;
							align-items:center;
							justify-content:center;
							display:flex;
							border-radius:10px;
							color:white;
						}
						.running{
							background: #00A103;
						}
						.saved{
							background: #7900C7;
						}
					}
					.action{
						display:flex;
						flex:1;
						justify-content:center;
						align-items:center;
						align-content:center;
						i{
							cursor:pointer;
							margin-right:10px;
						}
					}
				}
				.set_body{
					display:flex;
					flex-direction:column;
					.item{
						display:flex;
						flex-direction:row;
						padding:5px 10px;
						.title{
							display:flex;
							width:15%;
							font-size:14px;
							align-items:center;
							align-content:center;
						}
						.value{
							display:flex;
							input{
								height:20px;
								border: 1px solid #999;
							}
						}
					}
				}
				.running{
					font-weight:bold;
				}
			}
		}
	}
	.add{
		padding:15px 0px;
		.btn{
			height:40px;

		}
	}
}